{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
