html, body {
  margin: 0;
  color: $copy-color;
}

a,
a:visited {
  color: $red;
  border-bottom: 1px solid $red;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

a:hover,
a:active {
  color: $link-interactive;
  border-color: $border-interactive;
}

blockquote {
  background: $poetry;
  font-style: italic;
}
