.food {
  h2 {
    display: block;
    font-size: 1.4rem;
    margin-top: 2rem;

    &::after {
      content: '';
      width: 66%;
      height: 1px;
      display: block;
      margin-top: 0.25rem;
      background-color: #ddd;
    }
  }

  h3 {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: normal;
    margin: 1.45rem 0 calc(1.45rem / 3);
  }

  ul {
    li {
      margin-bottom: calc(1.45rem / 6);
    }
  }

  hr {
    background: #ddd;
    margin: 1.45rem auto;
    width: 66%;
  }
}