.systemSwitchers {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: 0 0 1.45rem;
}

.systemSwitch {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem 1rem;
  margin: 0 1.45rem 0 0;

  legend {
    font-style: italic;
    padding: 0 0.15rem;
  }

  button {
    background: transparent;
    border: none;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    color: $link-color;
    cursor: pointer;
    padding: 0 0.5rem;

    &.selected {
      background: $button-selected;
    }


    &:hover,
    &:focus,
    &:active {
      border-color: $border-interactive;
      color: $link-interactive;
    }

    &:first-of-type {
      border-radius: 15% 0 0 15%;
      border-left: 1px solid $border-color;
    }

    &:last-of-type {
      border-radius: 0 15% 15% 0;
      border-right: 1px solid $border-color;
    }

    &:nth-of-type(2n) {
      border: 1px solid $border-color;
    }
  }
}

.food {
  h2 {
    display: block;
    font-size: 1.4rem;
    margin-top: 2rem;

    &::after {
      content: '';
      width: 66%;
      height: 1px;
      display: block;
      margin-top: 0.25rem;
      background-color: $dividers;
    }
  }

  h3 {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: normal;
    margin: 1.45rem 0 calc(1.45rem / 3);
  }

  ul {
    li {
      margin-bottom: calc(1.45rem / 6);
    }
  }

  hr {
    background: $dividers;
    margin: 1.45rem auto;
    width: 66%;
  }
}
