.site {
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "site-sidebar site-primary"
    "site-footer site-footer";
  margin: 5rem auto;
  max-width: 68rem;
  }

.site-primary {
  grid-area: site-primary;
  padding: 0 1rem;
}

.site-footer {
  font-style: italic;
  font-size: 0.8rem;
  grid-area: site-footer;
  margin: 1rem 0 2rem;
  text-align: center;

  p {
    margin: 0;
  }
}

.site-footer--licensing {
  margin-top: 1rem;
  line-height: 1.44;

  img {
    display: inline-block;
    margin: 0 0.2rem;
    height: 1rem;
  }
}

.site-sidebar {
  align-items: start;
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: min-content;
  gap: 1rem 1rem;
  grid-template-areas:
    "site-sidebar--header"
    "site-sidebar--nav";
  grid-area: site-sidebar;
  padding: 0 1rem;
}

.site-sidebar--nav {
  grid-area: site-sidebar--nav;
}

.site-sidebar--header {
  align-items: center;
  display: grid;
  grid-template-columns: 6rem min-content;
  grid-template-rows: min-content min-content;
  gap: 0px 0px;
  grid-template-areas:
    "header__avatar header__title"
    "header__avatar header__connect";
  grid-area: site-sidebar--header;
}

.site-sidebar--header__avatar {
  align-self: start;
  border: none;
  grid-area: header__avatar;
  margin: 0 1rem 0 0;

  img {
    border: 1px solid $invisible;
    border-radius: 50%;
    margin: 0;
    transition: all 0.2s ease-in;

    &:hover {
      border-color: $border-interactive;
    }
  }
}

.site-sidebar--header__title {
  border: none;
  grid-area: header__title;

  h1 {
    font-size: 1.33rem;
  }
}

.site-sidebar--header__connect {
  grid-area: header__connect;
}

.links-toggle {
  display: none;
}

.links-category--title {
  font-size: 1.1rem;
  margin-bottom: calc(1.45rem / 3);
}

.links-category--list {
  font-size: 0.9rem;
  margin-bottom: 0;
  width: 80%;
}

.links-connect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  width: 10rem;
}

.links-connect__link {
  margin: 0;
  border: none;

  &:hover .links-connect__icon {
    border-color: $border-interactive;
  }
}

.links-connect__icon {
  border: 1px solid $invisible;
  border-radius: 50%;
  height: 2rem;
  transition: all 0.2s ease-in;
}

.tuber {
  position: relative;
  padding-top: 56.25%; // 16x9 ratio

  iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}