.header-title {
  align-items: center;
  display: flex;
  font-size: 1.33rem;
}

.header-avatar {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  height: 5.8rem;
  margin: 0 1.4rem 0 0;
  transition: all 0.2s ease-in;
}

.header-link {
  border: none;

  &:hover .header-avatar {
    border-color: rgb(217, 102, 123);
  }
}

.links-icon {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 1rem 0 0;
  }

  &.twitter::before {
    background: url(../images/twitter.svg) no-repeat center;
  }

  &.github::before {
    background: url(../images/github.svg) no-repeat center;
  }

  &.linkedin::before {
    background: url(../images/linkedin.svg) no-repeat center;
  }
}
